.pyannote .axis text {
    font: 10px sans-serif;
}

.pyannote .axis line,
.pyannote .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.pyannote line.marker {
    stroke: #f00;
    stroke-width: 3;
    shape-rendering: crispEdges;
}

.pyannote rect.border {
    stroke: #000;
    fill: #fff;
    stroke-width: 1;
};